<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="homeDiv">

        <div class="showImg-div showYourImg-div divofdivs">
            <div class="invName">

            </div>
            <div class="showSelected">

            </div>
            <div class="showItems">
                <% for (let i = 0; i < 1; i++) { %>
                    <img class="showImg" id="<%= items[i]._id %>" src="<%= items[i].img %>" title="<%= items[i].name %>">
                <% } %>
            </div>
        </div>

        <div class="pillar divofdivs">

        </div>
        
        <div class="showImg-div showBotImg-div divofdivs">
            <div class="invName">

            </div>
            <div class="showSelected">

            </div>
            <div class="showItems">
                <% for (let i = 0; i < items.length; i++) { %>
                    <img class="showImg" id="<%= items[i]._id %>" src="<%= items[i].img %>" title="<%= items[i].name %>">
                <% } %>
            </div>
        </div>

    </div>

    <div class="context-menu" id="contextMenu">
        <ul>
            <li>
                <a id="viewItemLink">
                    View Item
                </a>
            </li>
            <li>
                <a id="editItemLink">
                    Edit Item
                </a>
            </li>
            <li>
                <a id="newItemLink">
                    Create NEW item
                </a>
            </li>
        </ul>
    </div>

</body>
</html>